
body {
    background-color: rgb(6, 6, 71);
}


h1 {
    position: absolute;
    top: 35px;
    left: 100px;
    color:lightcyan 
}

.frame {
    position: absolute;
    top: 20px;
    left: 100px;
    width: 360px;
    height: 640px;
    border: 1px solid black;
    border-radius: 10px 10px;
    box-shadow: -1px 4px 21px 27px rgba(160,189,212,0.75);
    background: transparent url("spritesheetSMALL.png") 0 0 no-repeat;
    animation: smoke 1.5s steps(23) infinite;
    transform: scale(0.6);
}

@keyframes smoke {
    100% {
        background-position: -8279px;;
    }
}